.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.image-wrapper {
  max-width: 30%;
  max-height: 100%;
  // margin-left: 12px;
  // margin-right: 12px;

  > img[class*='img-fluid'] {
    aspect-ratio : 1 / 1;
    max-height: 100% !important;
    max-width: 100% !important;
  }

  > span {
    position: relative;
    bottom: 3.5vh;
    left: 4px;
    font-size: 2vh;
    color: greenyellow;
  }
}

.margin-reducer {
  margin-top: -30px;
  height: 0;
}
