<div class="container resources-container">
  <div class="row">
    <div *ngFor="let resource of resourceDescriptions" class="col-4">
      <span class="badge badge-pill badge-container">
        <img
          [src]="resource.imageSource"
          class="unselectable"
          placement="bottom"
          [ngbTooltip]="resource.description"
        />
        <span class="unselectable">
          <div class="current-resources">
            {{ resource.availableAmount }}
          </div>
          <div class="next-turn-resources">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1vh"
              height="1vh"
              fill="currentColor"
              class="bi bi-info-circle-fill"
              viewBox="0 0 16 16"
              class="next-turn-icon"
            >
              <use xlink:href="#arrow-right-circle" />
            </svg>
            <span>
              {{ resource.nextTurnAmount }}
            </span>
          </div>
        </span>
      </span>
    </div>
  </div>
</div>
