.resources-container {
  > [class*="row"] {
    height: 100%;

    > [class*="col"] {
      height: 6vh;
      max-height: 3.5vw;
      display: flex;
      align-items: center;
    }
  }
}

$badge-theme-color: #007bff;

.badge-container {
  height: 90%;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 4px;
  border-color: $badge-theme-color;

  img {
    padding: 2px;
    height: 80%;
    background-color: $badge-theme-color;
    border-radius: 50%;
  }

  > span {
    margin-left: 8px;
    padding-right: 10px;
    padding-top: 0.2vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration-style: solid;
  }
}

.current-resources {
  color: lightgray;
  font-size: 2.2vh;
  text-shadow: 1px 1px #000000;
}

$next-turn-color: rgb(2, 219, 2);

.next-turn-resources {
  color: $next-turn-color;
  margin-top: 0.5vh;
  font-size: 1vh;
  width: 8vh;
  display: flex;
  justify-content: start;
}

.next-turn-icon {
  margin-left: 1vh;
  margin-right: 0.3vh;
}
// .next-turn-color {
//   color: $next-turn-color;
// }
