.preview-wrapper {
  display: flex;
  justify-content: center;
}

.damaged-units-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: medium;
}

.scarabs-wrapper {
  width: 16%;

  > span {
    position: relative;
    bottom: 30px;
    left: 4px;
    font-size: medium;
    color: greenyellow;
  }
}

.minus-margin {
  margin-top: -30px;
}

.large-font {
  font-size: large;
}
