.preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.damaged-units-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: medium;
}

.smaller-display {
  width: 60%;
}
