<div class="background">
  <app-title></app-title>

  <div class="main-container">
    <div class="form-container p-3">
      <h4>FORGOT PASSWORD</h4>
      <div *ngIf="!hasSucceeded">
        <h6 class="mt-3">
          Provide your email below and you will be sent an email with the link to
          reset you password. It will be valid only for 5 minutes, so don't delay!
        </h6>
        <form class="mt-2">
          <div class="form-group">
            <input
              type="email"
              [(ngModel)]="formModel.email"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
          <div>
            <button
              (click)="sendLink()"
              [disabled]="isDisabled()"
              type="submit"
              class="btn btn-primary"
            >
              SEND ME THE LINK
              <span
                *ngIf="isLoading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="hasSucceeded">
        <h6 class="mt-3">
          Success! We've managed to send you the link. Just click on it and you
          will be redirected to the password reset page!
        </h6>
      </div>
      <a routerLink="/login" class="right-floated">Back to log in</a>
    </div>
  </div>
</div>
