.fields {
  background-color: rgba(218, 215, 74, 0);
}

.bordered {
  border: #000000;
  border-width: 3px;
  border-style: solid;
  /* background-color: rgba(100, 100, 100, 0.0); */
}

.error-message {
  color: rgb(255, 196, 0);
  float: right;
  font-size: small;
}

.link-vertical {
  height: 100% !important;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 35%;
}

.link-horizontal {
  width: 100% !important;
  position: absolute;
  z-index: 1000;
  top: 35%;
  left: 50%;
}

.unfocusable {
  pointer-events: none;
}

.board-background {
  background-image: url("/assets/game-background.jpg");
  width: fit-content;
  height: fit-content;
  border: 5px solid black;
  justify-self: center;
}

.cell {
  height: calc(90vh / 11);
  width: calc(90vh / 11);
}
