<div class="board-background">
  <div class="row no-gutters" *ngFor="let row of fields; let i = index; trackBy: trackBy">
    <div class="col-sm fields" *ngFor="let cell of row; let j = index; trackBy: trackBy">
      <!-- <div [appFieldStyling] [row]="i" [col]="j" class="bordered cell unselectable" [ngStyle]="{ position: 'relative' }">
        <img [src]="fieldToImagePath(cell)" class="unfocusable img-fluid unselectable"/>
      </div> -->
      <app-field [field]="cell" [row]="i" [col]="j"></app-field>
    </div>
  </div>
</div>
<!--Grid column-->
