<div class="board-background" appDragAndDropCancelable>
  <div
    class="row no-gutters"
    *ngFor="let row of fields; let i = index; trackBy: trackBy"
  >
    <div
      class="col-sm no-gutters fields cell"
      *ngFor="let cell of row; let j = index; trackBy: trackBy"
    >
      <app-field [field]="cell" [row]="i" [col]="j"></app-field>

      <img
        *ngIf="fieldLinking.vertical[i][j]"
        class="link-vertical unfocusable unselectable"
        src="/assets/misc/link-vertical.png"
      />
      <img
        *ngIf="fieldLinking.horizontal[i][j]"
        class="link-horizontal unfocusable unselectable"
        src="/assets/misc/link-horizontal.png"
      />
    </div>
  </div>
</div>
