<h5 class="mt-2">Fire rockets</h5>
<span [ngbTooltip]="rocketDestructionAvailability.reason" placement="bottom-left">
  <input
    [disabled]="!rocketDestructionAvailability.isAvailable"
    type="checkbox"
    id="targetRocket"
    name="targetRocket"
    (change)="isTargetingRocketLauncher = !isTargetingRocketLauncher"
  />
</span>
<label class="mx-3 mt-3" for="targetRocket"
    >Target rocket instead of army</label
  >
<br />
<div *ngIf="!isTargetingRocketLauncher">
  <app-rocket-damage-estimation></app-rocket-damage-estimation>
</div>
<div *ngIf="isTargetingRocketLauncher">
  <app-rocket-building-destruction></app-rocket-building-destruction>
</div>

<div class="button-wrapper mt-5">
  <div
    [ngbTooltip]="
      isAlreadyFired ? 'Rocket has been already fired this turn!' : ''
    "
  >
    <button
      (click)="fireRocket()"
      [disabled]="isAlreadyFired"
      class="btn btn-danger"
    >
      <div class="button-content">
        <div class="desert21-font">Fire rocket</div>
        <div class="button-content-right desert21-font">
          ( {{ rocketStrikeCost.current }} )
          <img src="/assets/electricity2.png" />
        </div>
      </div>
    </button>
  </div>
</div>
<div class="text-right next-strike-description mt-2">
  Next strike cost: {{ rocketStrikeCost.next }}
</div>
