.army-preview-wrapper {
  display: flex;
  justify-content: space-around;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.button-content {
  height: 2.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7vh;
}

.button-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.7vh;
  margin-left: 16px;

  img {
    margin-left: 0px;
    height: 2.5vh;
  }
}

.next-strike-description {
  color: gray;
  font-size: 1.4vh;
}
