<ng-template #movement let-modal>
  <app-movement-modal [modal]="modal"></app-movement-modal>
</ng-template>
<ng-template #lab let-modal>
  <app-lab-modal [modal]="modal"></app-lab-modal>
</ng-template>
<ng-template #resolution let-modal>
  <app-resolution-phase-modal [modal]="modal"></app-resolution-phase-modal>
</ng-template>
<ng-template #gameEnd let-modal>
  <app-game-end-modal [modal]="modal"></app-game-end-modal>
</ng-template>
<ng-template #confirm let-modal>
  <app-confirm-modal [modal]="modal"></app-confirm-modal>
</ng-template>
