<h5 *ngIf="isPlayerFieldOwner" class="text-center">
  A rocket has damaged <b class="text-danger"> your </b> army
</h5>
<h5 *ngIf="!isPlayerFieldOwner" class="text-center">
  A rocket has damaged <b class="text-success"> opponents </b> army
</h5>

<div class="mt-4"></div>
<app-minimap-wrapper>
  <div class="army-outer-wrapper">
    <div class="w-75">
      <app-army-destination-preview
        [shouldShowScarabs]="false"
        [army]="armyBefore"
      >
      </app-army-destination-preview>
    </div>
  </div>

  <div class="army-outer-wrapper">
    <div class="damaged-units-wrapper mt-3 w-75">
      <b class="text-danger">
        {{ armyDestroyed.droids < 0 ? armyDestroyed.droids : 0 }}
      </b>
      <b class="text-danger">
        {{ armyDestroyed.tanks < 0 ? armyDestroyed.tanks : 0 }}
      </b>
      <b class="text-danger">
        {{ armyDestroyed.cannons < 0 ? armyDestroyed.cannons : 0 }}
      </b>
    </div>
  </div>
</app-minimap-wrapper>
