<div class="wrapper">
  <div
    class="image-input-wrapper"
    [class.darkened]="!unitsAvailability[0]"
    [ngbTooltip]="
      !unitsAvailability[0] ? 'This unit cannot travel that fast!' : null
    "
    placement="top"
  >
    <img
      appEnlighter
      [isEnlighterEnabled]="unitsAvailability[0]"
      (click)="selectMax('DROID')"
      class="w-100"
      src="/assets/mechs/droid.png"
    />
    <span>{{ maxArmy.droids }}</span>
    <div class="input-wrapper">
      <input
        [(ngModel)]="droids"
        value="0"
        min="0"
        [max]="maxArmy.droids"
        class="w-100"
        type="number"
        [disabled]="!unitsAvailability[0]"
        step="1"
        (keypress)="onKeyPress($event, 'droids')"
      />
    </div>
  </div>
  <div
    class="image-input-wrapper"
    [class.darkened]="!unitsAvailability[1]"
    [ngbTooltip]="
      !unitsAvailability[1] ? 'This unit cannot travel that fast!' : null
    "
    placement="top"
  >
    <img
      appEnlighter
      [isEnlighterEnabled]="unitsAvailability[1]"
      (click)="selectMax('TANK')"
      class="w-100"
      src="/assets/mechs/tank.png"
    />
    <span>{{ maxArmy.tanks }}</span>
    <div class="input-wrapper">
      <input
        [(ngModel)]="tanks"
        value="0"
        min="0"
        [max]="maxArmy.tanks"
        class="w-100"
        type="number"
        [disabled]="!unitsAvailability[1]"
        step="1"
        (keypress)="onKeyPress($event, 'tanks')"
      />
    </div>
  </div>
  <div
    class="image-input-wrapper"
    [class.darkened]="!unitsAvailability[2]"
    [ngbTooltip]="
      !unitsAvailability[2] ? 'This unit cannot travel that fast!' : null
    "
    placement="top"
  >
    <img
      appEnlighter
      [isEnlighterEnabled]="unitsAvailability[2]"
      (click)="selectMax('CANNON')"
      class="w-100"
      src="/assets/mechs/cannon.png"
    />
    <span>{{ maxArmy.cannons }}</span>
    <div class="input-wrapper">
      <input
        [(ngModel)]="cannons"
        value="0"
        min="0"
        [max]="maxArmy.cannons"
        class="w-100"
        type="number"
        [disabled]="!unitsAvailability[2]"
        step="1"
        (keypress)="onKeyPress($event, 'cannons')"
      />
    </div>
  </div>
</div>
