.outer-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  width: 70%;

  > span {
    position: relative;
    bottom: 34px;
    left: 10%;
    font-size: 125%;
    color: greenyellow;
  }
}
