<div *ngIf="upgradeBuildingInfo.shouldShowTheButton" class="wrapper">
  <span [ngbTooltip]="upgradeBuildingInfo.shouldShowTooltip ? tipContent : upgradeBuildingInfo.availability.reason" placement="left">
    <button
      (click)="upgradeBuilding()"
      [disabled]="!upgradeBuildingInfo.availability.isAvailable"
      [class.btn-success]="upgradeBuildingInfo.availability.isAvailable"
      [class.btn-secondary]="!upgradeBuildingInfo.availability.isAvailable"
    >
      <div class="button-content">
        <div class="desert21-font">UPGRADE</div>
        <div class="button-content-right desert21-font">
          ( {{ upgradeBuildingInfo.buildingMaterialsCost }} ) <img src="/assets/resources/building-materials.png" />
        </div>
      </div>
    </button>
  </span>
</div>
<ng-template #tipContent
  ><app-upgrade-tooltip
    [balance]="upgradeBuildingInfo.balance"
    [building]="upgradeBuildingInfo.building"
  ></app-upgrade-tooltip
></ng-template>
