<div *ngIf="!isBuildingInProgress" class="wrapper mt-4">
  <button
    [ngbPopover]="buildPopover"
    placement="left"
    class="btn-primary btn-block button desert21-font"
  >
    BUILD
  </button>
</div>

<ng-template #buildPopover>
  <div class="popover-content-wrapper">
    <div
      *ngFor="let buildingOption of buildingOptions"
      appEnlighter
      [isEnlighterEnabled]="buildingOption.availability.isAvailable"
      class="image-wrapper"
      [ngClass]="{ darkened: !buildingOption.availability.isAvailable }"
      [ngbTooltip]="buildingOption.availability.reason"
      (click)="buildBuilding(buildingOption)"
    >
      <img class="img-fluid" [src]="buildingOption.imageSource" />
      <div>
        {{ buildingOption.buildingMaterialsCost
        }}<img class="img-fluid" src="/assets/resources/building-materials.png" />
      </div>
    </div>
  </div>
</ng-template>
