.game-stage {
  color: rgb(182, 182, 182);
  font-size: 4vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px #000000;
	text-decoration-style: dashed;
}
