<div>
  This action will destroy the building permamently from the game and nobody
  will be able to rebuild it again. It won't affect the army stayiong there
  though. Make sure you really want to do this.
</div>
<div class="process-wrapper">
  <div class="image-wrapper">
    <img src="/assets/buildings/rocket-launcher.png" class="img-fluid" />
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="4vw"
    height="4vw"
    fill="currentColor"
    class="bi bi-info-circle-fill"
    viewBox="0 0 16 16"
    class="text-danger"
  >
    <use xlink:href="#arrow" />
  </svg>

  <div class="image-wrapper">
    <img src="/assets/buildings/unknown-building.png" class="img-fluid" />
  </div>
</div>
