<div class="wrapper">
  <h2>How to play?</h2>

  <h4>In a nutshell:</h4>
  <ul>
    <li>
      This is a board game, and the board consists of
      <b class="text-warning">fields</b>
    </li>
    <li>
      <b class="text-warning">Field</b> can be owned by a player, or unoccupied.
      It can also contain a building, giving owner a strategic advantage.
    </li>
    <li>
      Your goal is to conquer enemy field with
      <b class="text-warning">Home Base</b>, before you opponent conquers yours
    </li>
    <li>
      You do this by performing actions in each turn. You upgrade existing
      buildings, build new ones and train army by clicking things on the right
      panel. You do the lab by clicking the blue button on the top. You attack,
      move units, bombard or fire rockets by dragging and dropping the cursor
      over the fields on the board. You submit these actions with the green
      button on the top.
    </li>
  </ul>

  <h2>Detailed guide</h2>

  <h4>Goal of the game</h4>
  <p>
    As a player, you are thrown into a desert in far future, when machines fight
    for humans. You are thrown there together with your enemy though. Your goal
    is to by better commanding you army conquer enemy
    <b class="text-warning">Home Base</b>, before they conquer yours!
  </p>

  <h4>Game stages</h4>
  <p>
    The game is based on turns, switching between you and your opponent. Before
    it begins you will both get some time to look around then, it goes like
    this:
  </p>
  <ul>
    <li>
      You make your move by performing some
      <b class="text-warning">actions</b> and confirming them by clicking the
      big green button on the top. These <b class="text-warning">actions</b> are
      executed all together, after the end of turn and their order doesn't
      matter. One move usually consists of many
      <b class="text-warning">actions</b> - around 5 at the beginning,
      increasing later in later stages of the game.
    </li>
    <li>
      The <b class="text-warning">resolution phase</b> begins. It's a short
      stage between moves, when you can see the results of your
      <b class="text-warning">actions</b>, whether is some training finished or
      a battle won.
    </li>
    <li>
      Your opponent makes their moves, just as you did a moment before. At this
      time you can still <b class="text-warning">pre-move</b> some
      <b class="text-warning">actions</b>, which will speed up your next turn or
      at least give you some more time to think. Be careful though! If you
      opponent makes them impossible to perform, some of them might be
      cancelled.
    </li>
    <li>
      The <b class="text-warning">resolution phase</b> for your opponent begins.
      It looks just like your own <b class="text-warning">resolution phase</b>,
      but you will notice, that some things are kept in secret from you.
    </li>
    <li>
      You make your turn again. The circle repeats until somebody looses...
    </li>
  </ul>

  <h4>Game elements</h4>
  <ul>
    <li>
      <b class="text-warning">Fields</b> are what the board consists of. They
      can be owned by a player, or unoccupied.
      <b class="text-warning">Fields</b> can be conquered by players, either by
      defeating opponents army or scarabs if not owned by any player.
      <b class="text-warning">Fields</b> can be empty, or contain a single
      building, giving owner specific perks or allowing for specific
      <b class="text-warning">actions</b>.
    </li>
    <li>
      <b class="text-warning">Actions</b> are the things you can do during your
      turn. They are executed all together after the turn finishes and are the
      way you interact with the game.
    </li>
    <li>
      <b class="text-warning">Army</b> is the group of battle units spread
      across the fields. They are automatically defending owners fields against
      enemy attacks, but can be also used to attack (and conquer, if succeeded)
      a neighbouring <b class="text-warning">field</b>.
    </li>
    <li>
      <b class="text-warning">Resources</b> (metal, building materials and
      electricity) are the materials needed to execute some actions, like
      producting your battle units or upgrading buildings. You gain
      <b class="text-warning">resources</b> in your
      <b class="text-warning">Home Base</b>, factories or thanks to
      <b class="text-warning">lab upgrades</b>.
    </li>
    <li>
      <b class="text-warning">Lab upgrades</b> are the global and permanent
      bonuses you unlock using electricity. They are grouped into three branches
      (Combat, Control and Production). Each branch works like a tree of
      hierarchy, where unlocking higher tier upgrades needs upgrading at least
      one from the lower tier.
    </li>
    <li>
      <b class="text-warning">Buildings</b> are what can be found on some
      fields, that gives owners certain benefits, like better resource
      production. Almost all of them can be upgraded and after doing some lab,
      they can be also built on empty fields.
    </li>
  </ul>

  <h4>Game view</h4>
  <ul>
    <li>
      <b class="text-warning">Game header</b> is the top part of the screen when
      you can find an "End Turn" button with timer, your current available
      resources, the lab, some basic info about the game and options panel,
      where you can for example surrender.
    </li>
    <li>
      <b class="text-warning">Game board</b> is the bunch of squares in the
      middle. Here you can see what is happening in the game, but also perform
      some army movements actions by a drag-and-drop technique from field to
      field. You can also select a field by clicking on it to view it's details
      on the right. The board is enlighting the fields with greater intensity
      based on the strength of the army defending it.
    </li>
    <li>
      <b class="text-warning">Field details</b> is on the right panel, where you
      can see some details of the field you selected on the board. Here you can
      see what exactly defends it, what building it holds (if any), and you can
      perform training, building and upgrading actions there.
    </li>
    <li>
      <b class="text-warning">Current actions</b> are on the left panel, where
      you can see a list of current actions that will be executed after the end
      of your turn. Here you may view their cost, some details about them, but
      also cancel them if needed. Some actions will show the affected fields on
      the board too when you hover on them.
    </li>
  </ul>

  <h4>Performing actions</h4>
  <ul>
    <li>
      <b class="text-warning">Training units</b> is performed on the bottom of
      the right panel, on the field selection. It can be only performed on a
      field which contains a <b class="text-warning">Tower</b> or a
      <b class="text-warning">Home Base</b>. You can train three different types
      of units (droids, tanks and cannons) in three different production modes
      (small, medium or mass production). Higher production modes last the same
      amount of time as the lower ones, but cost more and produce more units
      during the time period.
    </li>
    <li>
      <b class="text-warning">Upgrading building</b> is performed on the top of
      the right panel, on the field selection. It increases bonuses the building
      gives to the owner, also when opponent conquers the field from you. You
      can upgrade all buildings except
      <b class="text-warning">Rocket Launchers</b>.
    </li>
    <li>
      <b class="text-warning">Lab upgrade</b> is performed by clicking on the
      blue button on header. Upgrades are grouped into three branches (Combat,
      Control and Production). Each branch works like a tree of hierarchy, where
      unlocking higher tier upgrades needs upgrading at least one from the lower
      tier.
    </li>
    <li>
      <b class="text-warning">Moving units</b> is performed by dragging and
      dropping mouse from field to field on the board. It can be performed only
      on your fields and path of your units cannot cross opponents
      <b class="text-warning">fields</b>. Different units have different
      marching speeds, that limit the amount of fields that can be traveled
      through in a single turn. The path indicator that appearing on drag and
      drop showing the path you units will take. When hovering on more distanced
      fields, it will not grow any longer than the maximum length of path that
      the fastest unit can travel.
    </li>
    <li>
      <b class="text-warning">Attacking</b> is performed just like moving units,
      but on dropping above an opponents field instead of yours. The rules of
      how long can units travel remain the same. You can attack a single field
      from many different fields, which will make attacks combine into powerful
      one. If you win the battle, the attacked field becomes yours and combined
      units (weakened by the defenders) will be defending the newly conquered
      field. If you loose - you loose all your units.
    </li>
    <li>
      <b class="text-warning">Bombarding</b> is a type of attacking that can be
      performed only by cannons, after improving them in the lab. It is weaker
      than regular attack, but your cannons are untouched by the defenders and
      remain on the same field they attacked from. Bombarding can be a good way
      to poke your opponent and giving them some free damage.
    </li>
    <li>
      <b class="text-warning">Firing rockets</b> is an action performed by
      drag-and-drop from field to field, but only from a field with a rocket
      launcher. It will destroy 50% of army on the targeted field, no matter how
      big it is. It is the best way to punish opponent for keeping too many
      units on a single field or weakening a field before big attack.
    </li>
    <li>
      <b class="text-warning">Building new building</b> is performed on the top
      of the right panel, on the field selection. It can be only performed on
      empty fields and after upgrading specific lab upgrades. It lasts 2 turns
      and makes the field not empty anymore, but containing a selected level 1
      building.
    </li>
  </ul>
</div>
