<div class="game-panel wrapper">
  <div *ngIf="!fieldSelectionEmpty">
    <h5 class="text-center desert21-font">
      {{ currentState.headerContent }}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-info-circle-fill ml-2"
        viewBox="0 0 16 16"
        placement="bottom-right"
        ngbTooltip="{{ currentState.tooltipContent }}"
      >
        <use xlink:href="#info-fill" />
      </svg>
    </h5>
    <div class="images-wrapper mt-4">
      <div *ngIf="shouldShowImages[0]" class="image-wrapper">
        <img
          class="img-fluid"
          src="/assets/mechs/droid-full.png"
          alt="droid-full"
        />
        <span class="units-amount"
          >{{ armyDescription.droids }}
          <span *ngIf="totalArmyDescription" class="total-units-amount"
            >({{ totalArmyDescription.droids }})</span
          ></span
        >
      </div>
      <div *ngIf="shouldShowImages[1]" class="image-wrapper">
        <img
          class="img-fluid"
          src="/assets/mechs/tank-full.png"
          alt="tank-full"
        />
        <span class="units-amount"
          >{{ armyDescription.tanks }}
          <span *ngIf="totalArmyDescription" class="total-units-amount"
            >({{ totalArmyDescription.tanks }})</span
          ></span
        >
      </div>
      <div *ngIf="shouldShowImages[2]" class="image-wrapper">
        <img
          class="img-fluid"
          src="/assets/mechs/cannon-full.png"
          alt="cannon-full"
        />
        <span class="units-amount"
          >{{ armyDescription.cannons }}
          <span *ngIf="totalArmyDescription" class="total-units-amount"
            >({{ totalArmyDescription.cannons }})</span
          ></span
        >
      </div>
      <div *ngIf="shouldShowImages[3]" class="image-wrapper">
        <img
          class="img-fluid"
          src="/assets/mechs/desertbot-full.png"
          alt="scarab-full"
        />
        <span class="units-amount"
          >{{ currentScarabsGeneration.min }}-{{
            currentScarabsGeneration.max
          }}</span
        >
      </div>
    </div>
    <div class="mt-4">
      <b class="mt-2 ml-2 text-success"
        >Defending power: {{ armyPowerDescription.defendingPower }}</b
      >
    </div>
    <div>
      <b class="mt-2 ml-2 text-danger"
        >Attacking power: {{ armyPowerDescription.attackingPower }}</b
      >
    </div>
    <div class="mt-4">
      <app-train-army-section></app-train-army-section>
    </div>
  </div>
  <div *ngIf="fieldSelectionEmpty" class="empty-game-panel desert21-font">
    Select a field on the board to view here some details about its army!
    <img src="/assets/buildings/unknownBuilding.png" />
  </div>
</div>
