<div class="action-container" [ngClass]="backgroundClass" appActionEnlighter>
  <div>
    <h5 class="desert21-font">{{ actionHeader }}</h5>

    <div class="top-right-panel">
      <button
        (click)="removeFromActionsList()"
        type="button"
        class="close cross-wrapper cross-negative-margin"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div>
    <app-action-cost-display [action]="action"></app-action-cost-display>
  </div>
</div>
