.army-picker-wrapper {
  display: flex;
  justify-content: left;
  width: 70%;
  max-width: 40vh;
}

.battle-wrapper {
  margin-top: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 2px solid gray;
  padding-bottom: 20px;
}

.attack-button-wrapper {
  display: flex;
  justify-content: end;
}

.army-preview-outer-wrapper {
  display: flex;
  justify-content: center;
}

.army-preview-wrapper {
  max-width: 35vh;
  display: flex;
  justify-content: center;
}

.winning-chance {
  font-size: 1.8vh;
}

.army-preview-wrapper-2 {
  max-width: 45vh;
  display: flex;
  justify-content: center;
}

.only-scarabs-wrapper {
  margin-left: 20%;
  max-width: 60%;
}

.top-panel-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.winning-analysis-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winning-percentage {
  font-size: 4vh;
}

.power-description {
  font-size: 1.7vh;
}

h5 {
  font-size: 2vh;
}

.view-simulation {
  font-size: 1.5vh;
}

:host ::ng-deep .popover {
  background-color: black;
  max-width: 30vw;
}

:host ::ng-deep .arrow::after {
  background-color: transparent !important;
  border-bottom-color: black;
  color: black !important;
}
