<h5 *ngIf="ownershipType === 'OWNED'">
  <b class="text-danger">Your</b> rocket launcher has been destroyed
</h5>
<h5 *ngIf="ownershipType === 'ENEMY'">
  <b class="text-success">Opponents</b> rocket launcher has been destroyed
</h5>
<h5 *ngIf="ownershipType === 'UNOCCUPIED'">
  Your rocket launcher has been destroyed
</h5>

<div class="mt-4"></div>

<app-minimap-wrapper>
  <div class="rocket-visualization-wrapper ml-4">
    <div class="image-wrapper">
      <img src="/assets/buildings/rocket-launcher.png" class="img-fluid w-100" />
    </div>
    <div class="arrow-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.5vw"
        height="1.5vw"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16"
        [class.text-success]="ownershipType === 'ENEMY'"
        [class.text-secondary]="ownershipType === 'UNOCCUPIED'"
        [class.text-danger]="ownershipType === 'OWNED'"
      >
        <use xlink:href="#arrow" />
      </svg>
    </div>
    <div class="image-wrapper">
      <img src="/assets/buildings/unknown-building.png" class="img-fluid" />
    </div>
  </div>
</app-minimap-wrapper>
