<div *ngIf="enlightmentType !== 'NONE'" [class]="'wrapper-' + enlightmentType">
  <div [class]="'vertical-separator-' + enlightmentType + ' l-25'"></div>
  <div [class]="'vertical-separator-' + enlightmentType + ' l-50'"></div>
  <div [class]="'vertical-separator-' + enlightmentType + ' l-75'"></div>

  <div [class]="'horizontal-separator-' + enlightmentType + ' t-25'"></div>
  <div [class]="'horizontal-separator-' + enlightmentType + ' t-50'"></div>
  <div [class]="'horizontal-separator-' + enlightmentType + ' t-75'"></div>
</div>
