.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-text {
  color: rgba(110, 110, 110, 0.6);
  font-weight: bolder;
  font-size: min(3.5vh, 2vw);
  text-align: center;
}
