<div class="narrow-container">
  <div>
    <h2>Hello, dear tester!</h2>

    <p>
      You have been lucky to find out this game before it has been officially
      released! This is a beta version and is still on the stage of testing. It
      means, that there might be some bugs hanging around somewhere. Would be
      great if you could send me an email if you find something wrong:
      d21gsd21gs@gmail.com
    </p>

    <h4>About game...</h4>

    <p>
      Desert 21 is a completely free to play indie strategic game. Check "How to
      Play" to understand the rules - might feel overwhelming at the beginning,
      but it's actually simpler than it looks like. Why would you even want to
      try it? Here's a few reasons:
    </p>

    <ul>
      <li>It is completely free to play</li>
      <li>Pay 2 win is not (and will never be) a thing here</li>
      <li>
        It won't make you check your phone 24/7 - when the game ends, it ends
      </li>
      <li>RNG (randomness) is not that much pain</li>
      <li>
        It's based on turns - not on quick reactions or having a script that
        clicks stuff every five minutes. Just pure strategy
      </li>
      <li>Addictive as ****</li>
    </ul>
  </div>
</div>
