<h6 class="mt-4 text-center">Units before strike</h6>
<div class="army-preview-wrapper">
  <div class="w-75">
    <app-army-destination-preview
      [army]="armyDescriptionBefore"
      [shouldShowArmy]="true"
      [shouldShowScarabs]="false"
    ></app-army-destination-preview>
  </div>
</div>

<h6 class="mt-4 text-center">Units after strike</h6>
<div class="army-preview-wrapper">
  <div class="w-75">
    <app-army-destination-preview
      [army]="armyDescriptionAfter"
      [shouldShowArmy]="true"
      [shouldShowScarabs]="false"
    ></app-army-destination-preview>
  </div>
</div>
