<div
  (mousedown)="onFieldSelect()"
  class="bordered cell unselectable"
  [ngClass]="currentClasses"
  appEnlighter
  appFieldStyling
  appDragAndDropSelection
  [row]="row"
  [col]="col"
>
  <img
    *ngIf="!shouldShowBuildInProgress"
    [src]="fieldToImagePath(field)"
    class="unfocusable img-fluid unselectable"
  />
  <img
    *ngIf="shouldShowBuildInProgress"
    src="/assets/buildInProgress.png"
    class="unfocusable img-fluid unselectable"
  />
  <img *ngIf="rank" [src]="rank" class="rank" />

  <app-unit-circles [fieldLocation]="{ row: row, col: col }"></app-unit-circles>
</div>
