<h5 *ngIf="isPlayerWhoHasBuilt">
  You have finished building
  <b class="text-success">{{ buildingName }}</b>
</h5>
<h5 *ngIf="!isPlayerWhoHasBuilt">
  Your opponent has finished building
  <b class="text-danger">{{ buildingName }}</b>
</h5>

<app-minimap-wrapper>
  <div class="building-visualization-wrapper ml-4">
    <div class="image-wrapper">
      <img
        src="/assets/buildings/empty.png"
        class="img-fluid w-100"
      />
    </div>
    <div class="arrow-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="3vw"
        height="3vw"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16"
        [class.text-success]="isPlayerWhoHasBuilt"
        [class.text-danger]="!isPlayerWhoHasBuilt"
      >
        <use xlink:href="#arrow" />
      </svg>
    </div>
    <div class="image-wrapper">
      <img [src]="imageSource" class="img-fluid" />
    </div>
  </div>
</app-minimap-wrapper>
