.queue-container {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px solid black;
  height: 40vh;
  overflow: auto;
}

h5 {
  color: white;
  padding-bottom: 4px;
  border-bottom: 1px solid white;
  margin-left: 8px;
  margin-right: 8px;
}
