.modal-size {
  height: 70vh;
  width: 70vw;
}

.lab-panels {
  display: flex;
}

.left-panel {
  width: 70%;
  border-right: 2px solid white;
}

.right-panel {
  padding-left: 16px;
  width: 30%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;

  button {
    font-size: 1.7vh;
  }
}

.branch-title {
  margin-left: 24px;
  font-size: 2.5vh;
}

.right-panel-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
