/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

.background {
  background-image: url("/assets/menu-background.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  height: fit-content;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 600px;
  align-self: center;
  margin-bottom: 5vh;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.right-floated {
  float: right;
}

.unselectable {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.desert21-font {
  text-decoration-style: dashed;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.full-width {
  width: 100%;
}

.cross-wrapper {
  color: white !important;
}

.enlightment {
  border-color: rgb(0, 128, 255) !important;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}

.action-enlightment {
  background-color: gray !important;
}

.selecting {
  border-color: rgb(255, 251, 0) !important;
  border-style: solid;
  border-width: 2px;
}

.game-panel {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px solid black;
  overflow: auto;

  h5 {
    color: white;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.empty-game-panel {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: larger;
  flex-direction: column;

  img {
    margin-top: 2vh;
    height: 12vh;
    width: 12vh;
  }
}

div, img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
