/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}


.background {
  background-image: url('/assets/menu-background.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-container {
  height: fit-content;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 600px;
  align-self: center;
  margin-bottom: 5vh;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.right-floated {
  float: right;
}

.unselectable{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.desert21-font {
	text-decoration-style: dashed;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.full-width {
  width: 100%;
}
