<div class="narrow-container">
  <div>
    <h2>Starting a new game</h2>

    <p>
      Click on the button below to search for an opponent and start a new game
      when anyone is found. A single game will last around 40 - 60 minutes.
      Sometimes it happens, that your opponent does not suck that much and the
      game lasts a bit longer. Please, be a human and make sure you won't need
      to go out or do something weird. It can be really annoying for them when
      you quit in the middle. Or maybe they will just beat you up without a
      fight?
    </p>

    <button
      (click)="addToTheQueue()"
      class="btn btn-outline-primary"
      [disabled]="isAddToQueueDisabled"
    >
      ADD ME TO THE QUEUE
      <span
        *ngIf="isAddToQueueLoading"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
    </button>

    <div *ngIf="isInTheQueue">
      <h4 class="mt-5">You are in the queue, waiting for opponent</h4>
      <h6 class="mt-3 desert21-font">Total time spent in the queue: {{timeString}}</h6>

      <button (click)="cancelQueue()" class="btn btn-outline-danger">Cancel</button>
    </div>
  </div>
</div>
