.small-button {
  height: 7vh;
  width: 75%;
  font-size: larger;
}

.big-button {
  height: 10vh;
  width: 50%;
  font-size: xx-large;
}


.version {
  position: fixed;
  bottom: 10px;
  left: 20px;
  color: yellowgreen;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-top: 3vh;
}

.main-panel {
  width: 85%;
}

.friends-panel {
  width: 15%;
}
