<div class="background container-fluid">
  <div class="row full-width">
    <div class="col-2">
      <div class="text-center">
        <button
          [routerLink]="['./home']"
          type="button"
          class="btn btn-outline-success small-button"
        >
          HOME
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="text-center">
        <button
          [routerLink]="['./how-to-play']"
          type="button"
          class="btn btn-outline-success small-button"
        >
          HOW TO PLAY
        </button>
      </div>
    </div>

    <div class="col-4">
      <div class="text-center">
        <button
          [routerLink]="['./play-game']"
          type="button"
          class="btn btn-outline-success big-button"
        >
          PLAY GAME
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="text-center">
        <button
          [routerLink]="['./account']"
          type="button"
          class="btn btn-outline-success small-button"
        >
          ACCOUNT
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="text-center">
        <button
          (click)="logOut()"
          type="button"
          class="btn btn-outline-danger small-button"
        >
          LOG OUT
        </button>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <span class="main-panel">
      <router-outlet></router-outlet>
    </span>
    <span class="friends-panel">
      <app-friends></app-friends>
    </span>
  </div>
</div>

<p class="version">
  Version: 0.0.0-BETA
</p>
