<div class="timer-container">
  <div class="btn-group row" role="group" aria-label="Basic example">
    <button
      type="button"
      class="btn btn-outline-light disabled desert21-font timer col-6"
      disabled
    >
      <div>
        {{ timeDisplay }}
      </div>
    </button>
    <button
      *ngIf="isMyTurn !== false"
      (click)="currentOnClick()"
      type="button"
      class="btn btn-success next-turn desert21-font col-6"
    >
      <div>{{ buttonDisplay }}</div>
    </button>
    <button
      *ngIf="isMyTurn === false"
      type="button"
      class="btn btn-secondary disabled next-turn desert21-font col-6"
      [disabled]="true"
    >
      <div>{{ buttonDisplay }}</div>
    </button>
  </div>
</div>
