<div class="background">
  <app-title></app-title>

  <div class="main-container">
    <div *ngIf="!isSucceeded && isLoading" class="form-container p-3">
      <h4>ACTIVATING CODE...</h4>
      <div class="text-center mt-5">
        <div
          class="spinner-border"
          style="width: 10vh; height: 10vh"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div *ngIf="isSucceeded" class="form-container p-3">
      <h4>YOUR ACCOUNT HAS BEEN ACTIVATED!</h4>
      <h6>
        You may log in now using your email and password. Click
        <a routerLink="/login">here</a> to come back to login page.
      </h6>
    </div>

    <div *ngIf="!isSucceeded && !isLoading" class="form-container p-3">
      <h4>ACTIVATION FAILURE!</h4>
      <h6>
        Something went wrong with activation of your account. Click
        <a routerLink="/login">here</a> to come back to login page.
      </h6>
    </div>
  </div>
</div>
